<div>
  <span><%= (originalSize / 1024).toFixed(2) %> Kb</span>
  <span><%= (newSize / 1024).toFixed(2) %> Kb</span>
  <a href="<%= data64 %>" download="<%= originalname %>">download jpeg</a>
  <button>Compare</button>
  <dialog>
    <div class="wrapper"></div>
  </dialog>
</div>