<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <!-- <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"> -->
  <script defer src="https://unpkg.com/img-comparison-slider@7/dist/index.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/img-comparison-slider@7/dist/styles.css" />
  <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
  <section class="intro">
    <div class="container">
      <h1 class="title">Image Compressor</h1>
      <div class="upload">
        <form class="dropzone file-upload" action="/" method="post" enctype="multipart/form-data" id="my-dropzone">
          <div class="fallback">
            <input name="myfile" type="file">
          </div>
        </form>
        <div class="dropzone previews" id="previews"></div>
      </div>
      <template id="tmp">

        <div class="dz-preview dz-file-preview">
          <div>
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
            <a href="" data-dz-remove>Remove</a>
          </div>
          <div class="dz-error-message"><span data-dz-errormessage></span></div>
          <div class="fileinfo"></div>
        </div>

      </template>

    </div>
  </section>

  <section class="comparisons">
    <div class="container">
      <div id="comparisons"></div>
    </div>
  </section>

  <script src="js/dropzone.js"></script>
</body>

</html>